<% include ./header %>


<div class="container mt-5">
            

    <% if (message != undefined) { %>
        <h3 style="text-align: center;"><%= message %></h3>
    <% } %>

    
    <div class="shadow my-2 p-2 rounded">

        <H2 class="pb-3"><%= post.title%></H2>
        <span><strong><%= post.author%></strong> on <small><%= post.date %></small></span>
        <p><%= post.content %></p>

       
        
    </div>
    <nav>
        <small><a class="btn btn-primary rounded" href="/posts">Go Back to All Posts</a></small>

        
        <% if (user != null && post.author == user.username) { %>

            
            <form class="d-inline" action="deletePost" method="POST">
                <textarea class="d-none" name="postID" id="postID" cols="30" rows="10"><%= post._id %></textarea>
                <button class="btn btn-danger rounded" type="submit">Delete</button>
            </form>
    
            <% } %>
    </nav>
</div>

<% include ./footer %>