<% include ./header %>

<script>

    window.addEventListener('DOMContentLoaded', function(e)
    {


        var btnDelete = document.getElementById('btn_deletePost');

        btnDelete.addEventListener('click', function()
        {
            Swal.fire(
            {
                title: 'Are you sure?',
                text: "You won't be able to undo this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete Post',
                reverseButtons:true
            }).then((result) => {
            if (result.isConfirmed) 
            {
                Swal.fire({
                title: 'Deleted!',
                text: `Your post has been deleted. Redirecting to Posts`,
                icon: 'success'
                }).then(() => document.getElementById('btn_submitForm').click());
            }
            })

        });

    });


</script>


<div class="container mt-5">
            

    <% if (message != undefined) { %>
        <h3 style="text-align: center;"><%= message %></h3>
    <% } %>

    
    <div class="shadow my-2 p-2 rounded">

        <H2 class="pb-3"><%= post.title%></H2>
        <span><strong><%= post.author%></strong> on <small><%= post.date %></small></span>
        <p><%= post.content %></p>

       
        
    </div>
    <nav>
        <small><a class="btn btn-primary rounded" href="/posts">Go Back to All Posts</a></small>

        
        <% if (user != null && post.author == user.username) { %>

            
            <form id="deletePost" class="d-inline" action="deletePost" method="POST">
                <textarea class="d-none" name="postID" id="postID" cols="30" rows="10"><%= post._id %></textarea>
                <button id="btn_submitForm" class="d-none">Delete</button>
                
            </form>
            <button class="btn btn-danger rounded"  id="btn_deletePost">Delete</button>
    
            <% } %>
    </nav>
</div>

<% include ./footer %>