<% include ./header %>

<div class="container-lg mt-5">

    <% for (i = 0; i < posts.length; i++) { %>
        <div class="shadow my-2 p-2 rounded">

            <H2 class="pb-3"><a href="/posts/<%= posts[i]._id %>"><%= posts[i].title%></a></H2>
            <span><strong><%= posts[i].author%></strong> on <small><%= posts[i].date %></small></span>
            <p><%= posts[i].content %></p>

        </div>
        
    <% } %>

    
</div>

<% include ./footer %>